

.jumbotron {
    background-image: url("../../images/diegorivera.jpg");
}

h1 {
    color: white;
    font-size: 15px;
}

.display-4 {
    font-size: 5.5rem;
    font-weight: 300;
    font-family: 'Bungee', cursive;
    line-height: 1.2;
}